.images{
    padding: 106px 0 0 0;
    font-family: 'Exo 2',sans-serif;
}

.dropdown{
    text-align: center;
    margin-top: 50px !important;
 }

 .dropdown-menu {
    width: 70%;
    text-align: center;

 }

 .dropdown button{
    width: 70% !important;

 }

 .btn{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    font-size: 18px !important;

 }


.data-field{
    margin-top:30px ;
    
}
.items{
    display:flex;
    flex-wrap: wrap;
}

.items li{
    list-style: none;
    margin: 5px;
    width: 23.4%;
    transition: all 0.7s;
    overflow: hidden;
    border-radius:5px;
    padding: 0;
}

.items li img{
    width: 100%;
    border-radius:5px;
    transition: all 0.4s;
}

.items li img:hover{
    transform: scale(1.1);
}

.items li strong{
    display: none;
}

@media only screen and (max-width: 992px) {
    .items{
        justify-content: center;
    }
    
    .items li{
        list-style: none;
        margin: 5px;
        width: 30%;
        transition: all 0.7s;
        overflow: hidden;
        border-radius:5px;
    }  

}

@media only screen and (max-width: 728px) {
    .items{
        justify-content: center;
    }
    
    .items li{
        list-style: none;
        margin: 5px;
        width: 48%;
        transition: all 0.7s;
        overflow: hidden;
        border-radius:5px;
    }  
}

@media only screen and (max-width: 560px) {
    .items{
        justify-content: stretch;
    }
    .items li{
        width: 90%;
    }

}

