
{% extends 'base.html' %}

{% block title %}
Biz haqimizda || Ravonyoltravel.uz

{% endblock title %}

{% block content %}
<div class="about-page">
    <div class="container">
        <div  class="title">
            <h1>
                Biz haqimizda<span class="blur-line"></span>
            </h1>
        </div>
        
        <div>
            
            <p class="desription-p">
                
                Ushbu sayohlik xizmatlari “Ravon yol imkonyatlari” MChJ tomonida tashkillangan bo`lib,<strong> “Ravon yol travel”</strong> sayyohlik xizmatlari O‘zbekiston bozorida yangi hisoblanadi. MChJ sayyohlik sohasida 5 yillik tajribaga ega professional turoperatorlari  va yosh, iqtidorli, izlanuvchan, sayohatga befarq bo'lmagan mutaxassislarning sa'y-harakatlarini birlashtiradi.
                “Ravon yol imkonyatlari” MChJ sining asosiy yo‘nalishlaridan biri bo`lgan ‘Ravon yol travel’ sayohlik xizmati mamlakatimizning tarixiy joylari va eng maftunkor go‘shalariga sayohat, O‘zbekiston   bo’ylab maroqli sayohatlarni tashkil etadi.<br><br>
                <strong>
                    Har bir sayyoh  bizning do'stimiz va hamkorimiz hamda yaqin insonimizdir!
                </strong>
                <br>
                Biz sayyoh larimizga ularning talablari va ehtiyojlariga to'liq javob beradigan yuqori sifatli turistik mahsulotni taklif etamiz. <br><br>
                Yil davomida 24/7 kun sayyohlarimizning  xizmatingizda:
                <ul>
                    <li class="desription-p" >Professional turoperatorlar</li>
                    <li class="desription-p">Tajribali gidlar</li>
                    <li class="desription-p">Qulay transportlar </li>
                    <li class="desription-p">Shaxsiy menejer</li>
                    <li class="desription-p">Mexmonxona</li>
                    <li class="desription-p">Oshxona</li>
                </ul>
                <p class="desription-p">
                    
                    Manzil: Farg`ona viloyati Oltiariq tumani Gayrat MFY Hidoyat ko`chasi 5  uy<br>
                    Telefon +998 90 300 22 60 
                    
                </p>
                
            </p>
            
        </div>
    </div>
</div>
{% endblock content %}









