<!DOCTYPE html>
{% load static %}
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href = "{% block link %}{% endblock link %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/shared.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css'%} ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'aos/dist/aos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://kit.fontawesome.com/4de12ac000.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,600;1,600&display=swap" rel="stylesheet">
    
    <title>  {% block title %} {% endblock title %} </title>
    
</head>
<body>
    <!-- header -->
    <div class="header">
        <!-- Top header -->
        
        
        <!-- header section -->
        <header class="shadow">
            <div class="box-container">
                <div class=" container-lg header-area  menu-nav-first ">
                    <div class="header-item header-logo">
                        <!-- <img src="" alt=""> -->
                        <h2>Ravonyoltravel.uz</h2>
                    </div>
                    
                    <div class="header-item header-nav">
                        <ul class="nav-items">
                            
                            <li class="nav-item {% if request.resolver_match.url_name == 'home'%}active{% endif %} " > <a class="nav-item" href=" {% url 'home' %}">Bosh sahifa</a></li>
                            <li class="nav-item {% if request.resolver_match.url_name == 'travels'%}active{% endif %} " > <a class="nav-item" href=" {% url 'travels' %}">Sayohatlar</a></li>
                            <li class="nav-item {% if request.resolver_match.url_name == 'news'%}active{% endif %} " > <a class="nav-item" href=" {% url 'news' %}">Yangiliklar</a></li>
                            <li class="nav-item {% if request.resolver_match.url_name == 'fikrlar'%}active{% endif %} " > <a class="nav-item" href=" {% url 'fikrlar' %}">Taassurotlar</a></li>
                            <li class="nav-item {% if request.resolver_match.url_name == 'transport'%}active{% endif %} " > <a class="nav-item" href=" {% url 'transport' %}">Transport</a></li>
                            <li class="nav-item {% if request.resolver_match.url_name == 'images'%}active{% endif %} " > <a class="nav-item" href=" {% url 'images' %}">Suratlar</a></li>
                            <li class="nav-item {% if request.resolver_match.url_name == 'about'%}active{% endif %} " > <a class="nav-item" href=" {% url 'about' %}">Biz haqimizda</a></li>
                            
                        </ul>
                        
                    </div>
                </div>
                
                <div class=" container-lg header-area menu-nav-second">
                    <div class=" container-lg header-area ">
                        <nav class="navbar bg-light fixed-top">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="#"><h2>Ravonyoltravel.uz</h2></a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                                    <div class="offcanvas-header">
                                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Ravonyoltravel.uz</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body">
                                        <ul class="nav-items menu-nav-items">
                                            
                                            <li class="nav-item {% if request.resolver_match.url_name == 'home'%}active{% endif %} " > <a class="nav-item" href=" {% url 'home' %}">Bosh sahifa</a></li>
                                            <li class="nav-item {% if request.resolver_match.url_name == 'travels'%}active{% endif %} " > <a class="nav-item" href=" {% url 'travels' %}">Sayohatlar</a></li>
                                            <li class="nav-item {% if request.resolver_match.url_name == 'news'%}active{% endif %} " > <a class="nav-item" href=" {% url 'news' %}">Yangiliklar</a></li>
                                            <li class="nav-item {% if request.resolver_match.url_name == 'fikrlar'%}active{% endif %} " > <a class="nav-item" href=" {% url 'fikrlar' %}">Taassurotlar</a></li>
                                            <li class="nav-item {% if request.resolver_match.url_name == 'transport'%}active{% endif %} " > <a class="nav-item" href=" {% url 'transport' %}">Transport</a></li>
                                            <li class="nav-item {% if request.resolver_match.url_name == 'images'%}active{% endif %} " > <a class="nav-item" href=" {% url 'images' %}">Suratlar</a></li>
                                            <li class="nav-item {% if request.resolver_match.url_name == 'about'%}active{% endif %} " > <a class="nav-item" href=" {% url 'about' %}">Biz haqimizda</a></li>
                                            
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        
    </div>
    
    {% block content %}
    
    {% endblock content %}
    
    <!-- contact -->
    <div class="contact-footer box-container" data-aos="fade-up" data-aos-duration="1000">
        <div class="container-lg contact-area shadow-lg">
            <div class="contact-item contact-description">
                <h3>Biz bilan bog'laning</h3>
                <p>Tel:  +998 90 300 22 60 <br>
                    Tel:  +998 90 300 22 60  
                </p>
            </div>
            <div class="contact-item">
                <button type="button"> 
                    <a href="tel://+998 90 300 22 60">Bog'lanish</a>
                </button>
            </div>
            
        </div>
    </div>
    
    <!-- footer -->
    <div class="footer ">
        <div class="box-container">
            <div class="container-lg footer-area">
                <h3>
                    Ravonyoltravel.uz
                </h3>
                <div class="footer-item footer-links">
                    <ul class="footer-nav--items">
                        <li class="footer-nav--item {% if request.resolver_match.url_name == 'home'%}active{% endif %} " > <a class="nav-item" href=" {% url 'home' %}">Bosh sahifa</a></li>
                        <li class="footer-nav--item {% if request.resolver_match.url_name == 'travels'%}active{% endif %} " > <a class="nav-item" href=" {% url 'travels' %}">Sayohatlar</a></li>
                        <li class="footer-nav--item {% if request.resolver_match.url_name == 'news'%}active{% endif %} " > <a class="nav-item" href=" {% url 'news' %}">Yangiliklar</a></li>
                        <li class="footer-nav--item {% if request.resolver_match.url_name == 'fikrlar'%}active{% endif %} " > <a class="nav-item" href=" {% url 'fikrlar' %}">Taassurotlar</a></li>
                        <li class="footer-nav--item {% if request.resolver_match.url_name == 'transport'%}active{% endif %} " > <a class="nav-item" href=" {% url 'transport' %}">Transport</a></li>
                        <li class="footer-nav--item {% if request.resolver_match.url_name == 'images'%}active{% endif %} " > <a class="nav-item" href=" {% url 'images' %}">Suratlar</a></li>
                        <li class="footer-nav--item {% if request.resolver_match.url_name == 'about'%}active{% endif %} " > <a class="nav-item" href=" {% url 'about' %}">Biz haqimizda</a></li>
                    </ul>
                </div>
                
                <div class="footer-item footer-description">
                    <div class="social-media">
                        <span class="social-media__item">
                            <a href="#">
                                <i class="fa-brands fa-telegram fa-xl"></i>
                            </a>
                        </span>
                        
                        <span class="social-media__item">
                            <a href="#">
                                <i class="fa-brands fa-facebook fa-xl"></i> 
                            </a>
                        </span>
                        
                        <span class="social-media__item">
                            <a href="#">
                                <i class="fa-brands fa-instagram-square fa-xl"></i>
                            </a>
                        </span>
                        
                        <span class="social-media__item">
                            <a href="mailto: exemple@gmail.com">
                                <i class="fa-solid fa-envelope fa-xl"></i> 
                            </a>
                        </span>
                        
                        
                    </div>
                    <p>
                        Har bir sayyoh  bizning do'stimiz va hamkorimiz hamda yaqin insonimizdir!<br>
                        Manzil: Farg`ona viloyati Oltiariq tumani Gayrat MFY Hidoyat ko`chasi 5  uy
                    </p>
                </div>
                
                <div class="footer-footer">
                    <i class="fa-solid fa-circle-c"></i>
                    <script>
                        const Year = new Date().getFullYear();
                        document.write(Year)
                    </script> || 
                    Asadbek Muxtorov
                </div>
            </div>
        </div>
    </div>
    
    
    
    <script src="/static/aos/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="/static/js/sendtelegram1.js"></script>
    <script src="/static/js/sendtelegram.js"></script>
    
    <script> 
        AOS.init({
            easing:'ease-in-outi-sine'
        });
    </script>
    
    
    
    <script src="/static/js/app.js"></script>
    
</body>
</html>