{% extends 'base.html' %}
{% load static %}

{% block link %}{% static 'css/asosiy.css' %}{% endblock %}

{% block title %}Ravonyoltravel.uz{% endblock title %}

{% block content %}
<!-- hero -->
<div class="hero-section">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="6000">
                <h2 class="hero-description hero1 d-block" data-aos="fade-right" >
                    Biz bilan ongli ravishda sayohat qiling.
                </h2>
            </div>
            <div class="carousel-item"  data-bs-interval="6000">
                <h2 class="hero-description hero2 d-block">
                    Har bir mehmon bizning hamkorimiz.
                </h2>   
            </div>
            <div class="carousel-item"   data-bs-interval="6000"> 
                <h2 class="hero-description hero3 d-block">
                    Eng yaxshi sifatni tanlang.
                </h2>
            </div>
            
            <div class="carousel-item"  data-bs-interval="6000">
                <h2 class="hero-description hero4 d-block">
                    Har bir sayyoh  bizning do'stimiz va hamkorimiz hamda yaqin insonimizdir!
                </h2>
            </div>
            
            <div class="carousel-item"  data-bs-interval="6000">
                <h2 class="hero-description hero5 d-block">
                    "Sayohat qilish - rivojlanishni anglatadi" Pier Bernando.
                </h2>
            </div>
            
            <div class="carousel-item"  data-bs-interval="6000">
                <h2 class="hero-description hero6 d-block">
                    "Oh, siz tashrif buyuradigan barcha joylar!" Dr. Seuss
                </h2>
            </div>
            
            <div class="carousel-item"  data-bs-interval="6000">
                <h2 class="hero-description hero7 d-block">
                    “Sayohatchi ko‘rganini ko‘radi; sayyohlar nima ko'rish uchun kelganlarini ko'rishadi" GK Chesterton.
                </h2>
            </div>
            
            <div class="carousel-item"  data-bs-interval="6000">
                <h2 class="hero-description hero8 d-block">
                    "Sayohat qilish sizni so'zsiz qoldiradi va keyin sizni yaxshiroq hikoyachi qiladi." Ibn Battuta
                </h2>
            </div>
            
            <div class="carousel-item"  data-bs-interval="6000">
                <h2 class="hero-description hero9 d-block">
                    "Sayohatga sarmoya - bu o'zingizga qilingan sarmoyadir" Metyu Karsten.
                </h2>
            </div>
        </div>
    </div>
</div>

<!-- about me -->
<section class="about" id="about">
    <div class="box-container">
        <div class="container-lg about-area">
            <div class="about-description" data-aos="fade-up" data-aos-duration="1000" >
                <div class="sub-title">
                    <p>
                        BIZ HAQIMIZDA
                    </p>
                    <h3>
                        Hurmatli mehmon!
                    </h3>
                </div>
                <p class="desription-p">
                    'Ravonyoltravel.uz' O'zbekiston bo'ylab ichki turizm uyushtiruvchi kompaniya hisoblanadi. Tajribali mutaxassislar va 5 yillik tajriba bizning ustunligimiz garovidir.<br>
                    <a class="about-link" href="{% url 'about' %}">
                        Batafsil
                    </a>
                </p>
            </div>
            <div class="about-img" data-aos="fade-up" data-aos-duration="1000">
                <div class="about-img--item">
                    <img class="img-fluid" src="static/images/image1.webp" alt="image1.webp">
                </div>
                <div class="about-img--item">
                    <img class="img-fluid" src="static/images/image2.jpg" alt="image1.webp">
                </div>
                <div class="about-img--item">
                    <img class="img-fluid" src="static/images/image3.jpg" alt="image1.webp">
                </div>
                <div class="about-img--item">
                    <img class="img-fluid" src="static/images/image4.jpg" alt="image1.webp">
                </div>
            </div>
            
            
        </div>
    </div>
</section>

<!-- services -->
<div class="services" id="services">
    <div class="box-container">
        <div class="container-lg">
            <div class="services-items " data-aos="fade-up" data-aos-duration="1000">
                
                <div class="services-item shadow">
                    <div class="services-img">
                        <i class="fa-solid fa-chart-line fa-2xl"></i>
                    </div>
                    <div class="services-description">
                        Yuqori sifat
                    </div>
                </div>
                
                <div class="services-item shadow">
                    <div class="services-img">
                        <i class="fa-solid fa-clock-rotate-left fa-2xl"></i>
                    </div>
                    <div class="services-description">
                        Tezkor
                    </div>
                </div>
                
                <div class="services-item shadow">
                    <div class="services-img">
                        <i class="fa-solid fa-dollar-sign fa-2xl"></i>
                    </div>
                    <div class="services-description">
                        Hamyonbop narx
                    </div>
                </div>
                
                <div class="services-item shadow">
                    <div class="services-img">
                        <i class="fa-solid fa-square-check fa-2xl"></i>
                    </div>
                    <div class="services-description">
                        Ishonchli
                    </div>
                </div>
                
                <div class="services-item shadow">
                    <div class="services-img">
                        <i class="fa-solid fa-people-group fa-2xl"></i>
                    </div>
                    <div class="services-description">
                        Mutaxassislar
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>

<!-- clients -->
<div class="clients" >
    <div class="container-lg clients-area">
        <div class="sub-title">
            <p>
                Sayohatlar
            </p>
            <h3>
                Sayohatlardan namunalar
            </h3>
        </div>
        
        <div >
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <div class="clients-items">
                        <div class="clients-item-img">
                            <img class="" src="./static/images/andijan.jpg" alt="image()">
                        </div>
                        <div class="clients-item-description">
                            <h3>Andijon</h3>
                            <p>
                                Andijon viloyati – buyuk Boburning vatani, O‘zbekistonning maydoni bo‘yicha eng kichik, lekin aholi zichligi bo‘yicha eng katta viloyatidir. Mintaqaning tarixi miloddan avvalgi VI asrda paydo bo‘lgan qadimgi Dovon davlatidan boshlanishini ko‘pchilik bilmasa kerak. O‘sha vaqtlardan bu yerda sunʼiy sug‘orish, chorvachilik bilan qishloq xo‘jaligi rivojlantirdi, bundan tashqari, ushbu mintaqa “samoviy otlar” yashash joyi bo‘lgan.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="6000">
                    <div class="clients-items">
                        <div class="clients-item-img">
                            <img class="" src="./static/images/fargona.webp" alt="image()">
                        </div>
                        <div class="clients-item-description">
                            <h3>Farg'ona</h3>
                            <p>
                                Farg‘ona viloyati O‘zbekistonning eng chiroyli va tog‘li manzaraga boy bo‘lgan joylaridan biridir. U Pomir-Oloy va Tyan Shan tog‘lari tizimi oralig‘idagi Farg‘ona vodiysida joylashgan.Bu joyni “Qadimiy sivilizatsiyaning beshigi” deb ham nomlashadi. Mazkur viloyatda juda ko‘p qadimiy yodgorliklar, arxitektura qoldiqlari va eski shahar xarobalari topilgan.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <div class="clients-items">
                        <div class="clients-item-img">
                            <img class="" src="./static/images/namangan.jpg" alt="image()">
                        </div>
                        <div class="clients-item-description">
                            <h3>Namangan</h3>
                            <p>
                                Namanganda qish juda yumshoq va manfiy haroratlar tez-tez uchrab turmaydi, ammo havo haroratining keskin sovishini ham ayrim paytlar kuzatish mumkin. Sayohat paytida issiq kiyimlarni ham eʼtibordan chetda qoldirmang. Yozda barqaror issiq bo‘ladi, bunday paytda bosh kiyimda yurish hamda iloji boricha ko‘proq suv ichish tavsiya etiladi.Shahar o‘z nomini “Namak Kon” iborasidan olgan bo‘lib, fors tilida “tuz koni” degan maʼnoni anglatadi.                             </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <!-- <div class="blog">
        <div class="box-container">
            <div class="container-lg">
                <div class="sub-title">
                    <p>
                        Blog
                    </p>
                    <h3>
                        Sayohatlardan tassurotlar
                    </h3>
                </div>
                
                <ul class="blog-items">
                    <div class="blog-item shadow" data-aos="fade-up" data-aos-duration="1000" >
                        <div class="blog-img">
                            <img src="static/images/image3.jpg" alt="image3">
                        </div>
                        <div class="blog-description">
                            <p class="blog-date">
                                FEBRUARY 26, 2018
                            </p>
                            <h5 class="blog-title">
                                45 Best Places To Unwind
                            </h5>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        </div>
                    </div>
                    
                    <div class="blog-item shadow" data-aos="fade-up" data-aos-duration="1000" >
                        <div class="blog-img">
                            <img src="static/images/image2.jpg" alt="image3">
                        </div>
                        <div class="blog-description">
                            <p class="blog-date">
                                FEBRUARY 26, 2018
                            </p>
                            <h5 class="blog-title">
                                45 Best Places To Unwind
                            </h5>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        </div>
                    </div>
                    
                    <div class="blog-item shadow" data-aos="fade-up" data-aos-duration="1000" >
                        <div class="blog-img">
                            <img src="static/images/image3.jpg" alt="image3">
                        </div>
                        <div class="blog-description">
                            <p class="blog-date">
                                FEBRUARY 26, 2018
                            </p>
                            <h5 class="blog-title">
                                45 Best Places To Unwind
                            </h5>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div> -->
    
    {% endblock content %}
    
    