{% extends 'base.html' %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">


{% block title %}
    {{object.sarlavha}}
{% endblock title %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
{% block link %}{% static 'css/travel_detail.css'%}{% endblock link %}

{% block content %}

    <div class="travel_detail desription-p" >
        <div class="container-lg">
            <div class="class-img">
                <img src="{{object.picture.url}}" alt="{{object.picture}}">
            </div>
            <div class="sub-title">
                <h3>
                    {{object.sarlavha}}
                </h3>
            </div>
            <p class="desription-p">
                {{ object.toliq_mal | safe }}
            </p>

           <div class="button">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Buyurtma berish
            </button>
           </div>
        </div>
        

        
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buyurtma berish</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" onsubmit=" return sendtelegram()">
                    <div class="modal-body">
                        <div class="form">
                            <input type="text" name="name" placeholder="Ismingizni kiriting" required autocomplete="off" id="name">
                            <input type="number" name="number" placeholder="Telefon raqamingizni kiriting" required autocomplete="off" id="number"> 
                            <input type="number" name="number" placeholder="Sayohatchilar soni"  id="person_number">                                         
                            <input type="text" name="name" placeholder="Qayerdan " id="qayerdan" required autocomplete="off">
                            <input type="text" name="name"  placeholder="Qayerga "  id="qayerga" required autocomplete="off">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
                        <input type="submit" class="btn btn-primary" value="Jo'natish" id="btn">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}




