{% extends 'base.html' %}

{% load static %}

{% block link %}
{% static 'css/trips.css' %}
{% endblock link %}



{% block title %}Yangiliklar || Ravonyoltravel.uz{% endblock title %}


{% block content %}
<div class="container-lg">
    <div class="news">
        <div class="title">
            <h1>
                Yangiliklar <br>
            </h1>
        </div>
        <div class="product-field">
            <ul class="items">
                {% for tass in object_list %}
                <li  class="shadow" data-aos="fade-up" data-aos-duration="1000">
                    <div class="trip-item-img" >
                        {% if tass.picture %}
                        <img src = "{{ tass.picture.url  }}" width="512px">
                        {% else %}
                        <img src = " {% static 'images/image2.jpg' %}"
                        {% endif %}
                    </div>
                    
                    <div class="trip-item-description">
                        <h2>
                            <strong> {{ tass.sarlavha }} {{ tass.vaqt }}
                            </strong>  

                        </h2>
                        <p class="desription-p">
                            {{ tass.qisqa_mal | slice:":200"}}...
                            <br><br>                          
                        </p>
                        
                        <div class="control">
                            <div class="control-item">
                                <div >
                                    <a class="about-link" href=" {% url 'news_detail' tass.pk %} ">Batafsil</a>
                                </div>
                            </div>
                            <div class="control-item">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Buyurtma berish
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </li>
                {% endfor %}
                
                
                
            </ul>
        </div>
        
        
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Buyurtma berish</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="" onsubmit=" return sendtelegram()">
                    <div class="modal-body">
                        <div class="form">
                            <input type="text" name="name" placeholder="Ismingizni kiriting" required autocomplete="off" id="name">
                            <input type="number" name="number" placeholder="Telefon raqamingizni kiriting" required autocomplete="off" id="number"> 
                            <input type="number" name="number" placeholder="Sayohatchilar soni"  id="person_number">                                         
                            <input type="text" name="name" placeholder="Qayerdan " id="qayerdan" required autocomplete="off">
                            <input type="text" name="name"  placeholder="Qayerga "  id="qayerga" required autocomplete="off">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
                        <input type="submit" class="btn btn-primary" value="Jo'natish" id="btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %} {% static 'js/sendtelegram.js' %} {% endblock js %}












