{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ object.qayerdan}} - {{ object.qayerga.lower.title }}
{% endblock title %}

{% block link %}{% static 'css/travel_detail.css'%}{% endblock link %}

{% block content %}

    <div class="travel_detail description-p">
        <div class="container-lg">
            <div class="class-img">
                <img src="{{object.picture.url}}" alt="{{object.picture}}">
            </div>
            <div class="sub-title">
                <h3>
                    <strong> {{object.qayerdan}}dan</strong> - {{ object.qayerga}}ga
                </h3>
            </div>
            <p class="desription-p">
                {{ object.toliq_mal | safe }}
            </p>

           <div class="button">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Buyurtma berish
            </button>
           </div>
        </div>
        

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Buyurtma berish</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="" method="post"> {% csrf_token %}
                        <div class="modal-body">
                            <div class="form">
                                <input type="text" name="name" placeholder="Ismingizni kiriting" required autocomplete="off" id="name">
                                <input type="number" name="phone_number" placeholder="Telefon raqamingizni kiriting" required autocomplete="off" id="number"> 
                                <input type="text" name="number" placeholder="Sayohatchilar soni"  value="Sayohat narxi: {{ object.narxi }}" disabled>                                         
                                <input type="text" name="qayerdan"  value="Qayerdan: {{ object.qayerdan }}" id="qayerdan" disabled>
                                <input type="text" name="qayerga"  value="Qayerga: {{ object.qayerga }}"  id="qayerga" disabled>
                                <input type="hidden" name="place_id" value="{{ object.pk }}">

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
                            <input type="submit" class="btn btn-primary" value="Jo'natish" id="btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}





